/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

label {
  display: block;
}

textarea:focus,
input:focus {
  outline: none;
}

input,
textarea {
  font-family: inherit;
  width: 100%;
  margin-bottom: 20px;
  padding: 4px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  resize: none;
  background-color: var(--white);
  border: 1px solid var(--carafe);
  border-radius: 6px;
}

.booking-check {
  width: 50px;
}