nav {
  background-color: var(--tan);
  overflow: hidden;
}

nav a,
nav span {
  float: left;
  color: var(--carafe);
  text-align: center;
  padding: 14px 20px;
  font-size: 18px;
}

nav div {
  float: right;
}

nav a:hover {
  background-color: var(--carafe);
  color: var(--white);
}

nav a.active {
  background-color: var(--carafe);
  color: var(--white);
}