* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--sand-dollar);
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--carafe);
  text-align: center;
}

button {
  padding: 8px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 48px;
  background-color: var(--carafe);
  color: var(--white);
}

button:hover {
  background-color: var(--tan);
  color: var(--carafe);
}


textarea:focus, input:focus{
  outline: none;
}

a {
  text-decoration: none;
}

.room-card {
  float: left;
  width: 300px;
  border-radius: 16px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  margin: 32px;
  padding: 16px 32px;
  background-color: antiquewhite;
}

label {
  display: block;
}

.own-room {
  background-color: rgb(187, 228, 167);
}