* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--sand-dollar);
  margin-top: 100px;
  padding: 0 9%;
}

.container {
  margin: 0 auto;
  max-width: fit-content;
  background-size: cover;
  background-position: center;
  padding: 32px 64px;
  color: var(--carafe);
  background-color: var(--tan);
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .1);
  border-radius: 24px;
}

h1,
h2,
h3 {
  text-align: center;
}

.asterisk {
  color: var(--red);
}

.btn {
  display: block;
  padding: 8px 16px;
  width: 10rem;
  cursor: pointer;
  border: none;
  border-radius: 48px;
  margin-bottom: 15px;
  color: var(--sand-dollar);
  background-color: var(--carafe);
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.btn:hover {
  background-color: var(--sand-dollar);
  color: var(--carafe);
}

.btn:disabled,
.btn[disabled] {
  background-color: var(--sand-dollar);
  color: var(--carafe);
}